.div1 {
    float: left;
    width: 200px;
    height: 500px;
    background: rgb(30, 230, 30);
    border: solid 1px;
    padding-right: 5px;
}
.div1 table{
    padding-right: 5px;
    margin-right: 5px;
}

.div1 span{
    margin-left: 20px;
    color: red;
    font-size: 30px;
}

.cena {
    float: left;
    width: 1100px;
    height: 500px;
    margin-left: 5px;
    background: url('cenario1.png');
    background-position: bottom;
}


#cronometro{
    color: rgb(196, 13, 13);
    font-size: 40px;
    padding-left: 3rem;
}